@model TienIchSinhVien.Models.Detailphongtroviewmodel

    @{
        ViewBag.Title = "Details";
        Layout = "~/Views/Shared/_Layout.cshtml";
    }
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Product Detail Page</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
   <div class="col-lg-12">
       <div class="row">
           <div class="col-lg-8 d-flex align-items-center flex-column">
               @*<div class="container">*@
                   <img src="@Model.PhongTro.AnhMinhHoa" @*alt="Product Image"*@ class="d-block mx-auto" style="width: 70%;" >
                       <h1>@Model.PhongTro.TieuDe</h1>
                       <p>@Model.PhongTro.MoTa</p>
                       <p>Địa Chỉ: @Model.PhongTro.DiaChi</p>
                       <p> Diện Tích: @Model.PhongTro.DienTich</p>
                       <p> Ngày Đăng: @Model.PhongTro.NgayDang</p>
                       <h3> Giá Thuê: @Model.PhongTro.Gia</h3>
                       <button class="btn btn-outline-success" onclick="copyToClipboard()">Sao Chép Số Điện Thoại</button>
               @*</div>*@
              
           </div>
           <div class="col-lg-4">
               <div class="container d-flex justify-content-center">
                   <div class="card p-3 py-4">
                       <div class="text-center">
                           <img src="@Model.Anh" width="100" class="rounded-circle">
                           <h3 class="mt-2">@Model.Name</h3>
                           @using (Html.BeginForm("DanhGia", "Profile", FormMethod.Post, new { @class = "your-form-class" }))
                           {
                                       @Html.AntiForgeryToken()
                               <div class="mt-2">
                                   <input type="text" id="DanhGia" name="DanhGia" class="r-lg-4" placeholder="Viết Đánh Giá Của Bạn" />

                                   <input type="text" id="UserId2" name="UserId2" value="@Model.UserId" style="display:none" />     
                                   <div class="mt-2">
                                       <button type="submit" class="btn btn-info r-lg-2"  onclick="guidanhgia()">Gửi Đánh Giá</button>
                                   </div>
                               </div>


                           }
                          
                           @using (Html.BeginForm("detaiprofile", "Profile", FormMethod.Post))
                           {
                               @Html.AntiForgeryToken()
                               <input name="id" value="@Model.UserId" style="display:none" />

                               <div class="profile mt-4">

                                   <button type="submit" class="profile_button px-5">Xem Đánh giá</button>

                               </div>
                           }
                       </div>
                   </div>
               </div>
    <div>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8z" />
        </svg>    <a href="@Url.Action("Index","PhongTro")">Quay Lại</a>
    </div>

  
    <script>
   function copyToClipboard() {
         var phoneNumber = "@Html.DisplayFor(model => model.PhongTro.PhoneNumber)";
         var productData = phoneNumber;

             navigator.clipboard.writeText(productData).then(function() {
                 console.log("Copied phone number to clipboard: " + phoneNumber);
                 alert("Đã sao chép: " + productData);
                     }, function() {
                 console.error("Unable to copy phone number to clipboard.");
                 alert("Sao chép không thành công. Vui lòng thử lại.");
                     });
        }
        $('.your-form-class').on('submit', function (event) {
            event.preventDefault(); // Ngăn chặn trình duyệt chuyển hướng trang

            // Xử lý yêu cầu POST bằng Ajax hoặc các phương thức khác ở đây
            // ...

            location.reload(); // Tải lại trang hiện tại

            return false;
        });
        function guidanhgia() {
            alert("Đã Gửi Đánh Giá ");
        }

    </script>
</body>
</html>
