@model TienIchSinhVien.Models.ViecLam

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}




@using (Html.BeginForm("Create", "ViecLam", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal d-flex align-items-center justify-content-center">
        <div class="bg-white shadow rounded overflow-hidden">
            <h4>Đăng Bài Tuyển Nhân Viên</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="form-group">
                <div class="col-md-10">
                    <img id="img-preview" src="~/Content/Images/hinh-nen-xam_8.jpg" alt="Ảnh xem trước" style=" height:275px " />
                </div>
            </div>
            <div class="col-md-10">
                <label for="anh">Ảnh minh họa</label>
            </div>

            <div class="form-group">
                <div class="col-md-10">

                    <input type="file" name="anh" id="anh" onchange="loadFile(event)" />
                    <br />

                </div>
            </div>
            <div class="form-group">

                <div class="col-md-10">
                    @Html.EditorFor(model => model.TieuDe, new { htmlAttributes = new { @class = "form-control", placeholder = "Tiêu Đề" } })
                    @Html.ValidationMessageFor(model => model.TieuDe, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">

                <div class="col-md-10">
                    @Html.EditorFor(model => model.Luong, new { htmlAttributes = new { @class = "form-control", placeholder = "Lương" } })
                    @Html.ValidationMessageFor(model => model.Luong, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">

                <div class="col-md-10">
                    @Html.EditorFor(model => model.DiaChi, new { htmlAttributes = new { @class = "form-control", placeholder = "Địa Chỉ Nơi Làm Việc" } })
                    @Html.ValidationMessageFor(model => model.DiaChi, "", new { @class = "text-danger" })
                </div>
            </div>



            <div class="form-group">

                <div class="col-md-10">
                    @Html.EditorFor(model => model.ViTriUngTuyen, new { htmlAttributes = new { @class = "form-control", placeholder = "Vị Trí Cần Tuyển" } })
                    @Html.ValidationMessageFor(model => model.ViTriUngTuyen, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">

                <div class="col-md-10">
                    @Html.EditorFor(model => model.MoTa, new { htmlAttributes = new { @class = "form-control", placeholder = "Mô Tả Công Việc" } })
                    @Html.ValidationMessageFor(model => model.MoTa, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">

                    <input type="submit" value="Đăng Bài" class="btn btn-outline-success" />
                </div>

            </div>
        </div>




    </div>
}


<script>
    var loadFile = function (event) {
        var output = document.getElementById('img-preview');
        output.src = URL.createObjectURL(event.target.files[0]);
    };
</script>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
